
body, div.body{
    background: #181818;
    color: #c8c8c8;
}
pre {
    background: #080808;
    color: #c0c0c0;
}

h1, h2, h3, h4, h5 {
    background: #181818;
    color: #c8c8c8;

    font-family: "Source Code Pro", monospace, monospace !important;
}


a {
    color: #0c0;
    font-family: "Source Code Pro", monospace, monospace !important;
    padding: 0 .2em;
}
a:hover {
    background: #0c0;
    color: #222 !important;
}
a:visited {
    color: #090;
}
