
body, div.body {
    background: #181818;
    color: #c8c8c8;
    font-family: Georgia, serif;
    line-height: 1.;
}
pre {
    background: #080808;
    color: #c0c0c0;
    border-radius: .8em;
}

h1, h2, h3, h4, h5, p.admonition-title{
    background: #181818;
    color: #c8c8c8;

    font-family: "Source Code Pro", monospace, monospace !important;
}
div.body h1 { font-size: 200% }
div.body h2 { font-size: 170% }
div.body h3 { font-size: 140% }
div.body h4 { font-size: 120% }
div.body h5 { font-size: 100% }
div.body h6 { font-size:  90% }
div.body p  { line-height: 1.6}


/*
    sphinxsidebar
*/
a, div.sphinxsidebar a {
    color: #eca218;  /* Amber */
    font-family: "Source Code Pro", monospace, monospace !important;
    font-size: .9em;
    padding: 0 .2em;
    text-decoration: none !important;
}
code.xref {
    border-bottom: 0;  /* alabaster adding border :-( */
}
a:hover, div.sphinxsidebar a:hover {
    background: #eca218;
    color: #222 !important;
}
a:active, div.sphinxsidebar a:active {
    background: #e80;
    color: #222 !important;
}
a:visited, div.sphinxsidebar a:visited {
    opacity: .9
}
a.reference {
    border-bottom: 0 !important;
}
.mod {               /* shuttup readme issues, emulate links */
    color: #eca218;  /* Amber */
    font-family: "Source Code Pro", monospace, monospace !important;
    font-size: .9em;
    padding: 0 .2em;
    text-decoration: none !important;
}

div.sphinxsidebar a {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #666;
}
div.sphinxsidebar input {
    background: #101010;
    border: 1px solid #444;
    font-family: "Source Code Pro", monospace, monospace !important;
    font-size: 1em;
}
div.sphinxsidebar h3 {
    font-size: .8rem !important;
    color: #555;
    background: inherit;
}

div.sidebar {
    background-color: #222;
    border-color: #444;
    border-radius: .5em;
    opacity: .8;
}

.admonition, .seealso {
    background-color: #111 !important;
    border-color: #444 !important;
    border-radius: .3em;
}

code, span.pre  {
    background-color: inherit !important;
    color: inherit !important;
    border-bottom: 0;
}

.center {
    text-align: center;
}

#logo {
    font-family: 'source code pro', monospace;
    font-weight: bold;
    padding: 1rem;
}

#subtitle {
    text-align: center;
    padding: .6em;
    margin-bottom: 1rem;
}
#subtitle i {
    text-align: center;
    padding: .6em
}
.mt {
    margin-top: 1.3em;
}
.mb {
    margin-bottom: 1.3em;
}
.mfull {
    margin: 1.3em;
}
.rounded {
    border-radius: .8em;
}
.p1 {
    padding: .8em 0;
}
.dark {
    background: #080808;
}
/*
    syntax highlighting
*/
div.highlight, pre.highlight { background: inherit; }
.highlight .kn, .highlight .k {
    color: #3894e8;
    font-weight: bold;
}
.highlight .go {
    color: FireBrick;
    font-weight: normal;
}
.highlight .gp, .highlight .o {
    color: #c8964b;
    font-weight: normal;
}
.highlight .n, .highlight .nn, .highlight .bp {  /* reset-ski */
    color: #c8c8c8;
    font-weight: normal;
}
.highlight .s1 {
    color: FireBrick;
}
.highlight .se {
    color: IndianRed;
}

.italic {  /* workaround rst/sphinx lack of link styling. */
    font-style: italic;
}
.flright {
    float: right;
}
.reverse {
    font-size: .9em;
    opacity: .9;
    background: #c8c8c8;
    border-radius: .2em;
    color: #181818;
    display: inline-block;

    height: 1.1em;
    vertical-align: middle;
}
a .reverse {
    background: #eca218 !important;
}
div.sphinxsidebar a .reverse {
    background: #c8c8c8 !important;
}
.bi {
  font-weight: bold;
  font-style: italic;
}

/*
    pac man
*/
div.pacman {
    text-align: center;
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
}
#pac { color: yellow; }
#sha { color: red; }
#spe { color: pink; }
#bas { color: cyan; }
#pok { color: SandyBrown; }
.pline { color: #2222E8; }
.dots { color: #ffb897; letter-spacing: 3px }

p.caption {
    margin: 0;
}
p.rubric {
    font-family: 'source code pro', monospace;
}

/*
autodoc
*/
dl.function, dl.class {
    margin-top: 2em;
}
